<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>交通費入力</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>交通費管理</h1>
        <h2>交通費入力</h2>
        <form method="POST" action="enterfee/new">
        <p>氏名　
            <select name="name"> 
                {{ range .name }} 
                <option hidden>Select your name !!</option>
                <option> {{ .Name }} </option> 
                {{ end }} 
            </select>
        </p>
        <p>交通費 <input type="text" name="fee" placeholder="Enter fee"></p>
        <p><input type="submit" value="Send"></p>

    </form>
    </body>
</html>