<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8">
        <title>交通費管理</title>
    </head>
    <h1>交通費管理</h1>
    <h2>メンバー登録</h2>
    <form method="POST" action="new">
        <p>氏名 <input type="text" name="name" size="30" placeholder="Enter your name"></p>
        <p><input type="submit" value="Send"></p>
    </form>
    {{ range .name }}
    <p>{{ .Name }}</p>    
    {{ end }}

    <form method="GET" action="new1">
        <p>氏名
        <select name="name">
            {{ range .name}}
            <option value="name">{{ .Name }}</option>
            {{ end }}
        </select>
        </p>
    </form>
</html>
