<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                    第三地区中高生会 交通費管理 
            </a>
        </nav>

	<div class="container-fluid">

		<div class="row pt-5">
			<div class="col text-center">
				<h1>入力履歴閲覧</h1>
			</div>
		</div>

		<div class="row justify-content-center pt-5">
			<div class="col-auto">
				<table class='table table-hover table-bordered table-responsive'>
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">入力日時</th>
							<th scope="col">氏名</th>
							<th scope="col">申請対象日</th>
							<th scope="col">申請交通費（円）</th>
						</tr>
					</thead>
					<tbody>
						{{ range .alldata}}
						<tr>
							<th scope="row">{{ .ID }}</th>
							<td>{{ .CreatedAt }}</td>
							<td>{{ .Name }}</td>
							<td>{{ .Date }}</td>
							<td>{{ .Fee }}</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row justify-content-center pt-5 pb-5">
			<div class="col-auto">
				<a href="/" class="btn btn-primary">Back to home</a>
			</div>
		</div>

	</div>
	
</body>
</html>
