<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta  charset="utf-8">
		<title>太郎を讃えるページ</title>
        	<meta name="viewport" content="width=device-width,initial-scale=1">
        	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
        	<nav class="navbar navbar-dark bg-primary">
        	    <a class="navbar-brand" href="/">
        	            第三地区中高生会 交通費管理 
        	    </a>
        	</nav>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-auto">
					<img src="./self.png" class="rounded mx-auto" alt="" style="width: 600px"/>
				</div>
			</div>
			<div class="row justify-content-center pt-5">
				<div class="col-auto">
					<a href="/" class="btn btn-primary">Back to home</a>
				</div>
			</div>
		</div>
	</body>
</html>
