<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title> Main page</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                    第三地区中高生会 交通費管理 
            </a>
        </nav>
       <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-10">
            <div class="text-center"><h1>交通費管理</h1></div> 
            </div>
        </div>
        <div class="row justify-content-center pt-5">
                <div class="col text-center">
                    <a class="btn btn-outline-primary" href="/useradd/">ユーザー追加</a>
                </div>
                <div class="col text-center">
                    <a class="btn btn-outline-primary" href="/enterfee/">交通費追加</a>
                </div>
        </div>
        </div>
    </body>
</html>