<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8">
        <title>メンバー登録</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
<body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                    第三地区中高生会 交通費管理 
         </a>
        </nav>
   <div class="container">
       <div class="row pt-5">
           <div class="col">
                <h2>メンバー登録</h2>
           </div>
       </div>
        <form class="form-group" method="POST" action="useradd/new">
            <div class="row pt-2">
                <div class="col">
                    氏名 <input type="text" name="name" placeholder="Enter your name" class="form-control" required>
                </div>
            </div>
                    <div class="row justify-content-center pt-5">
                        <div class="col-auto">
                            <input type="submit" value="Send" class="btn btn-primary">
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-primary" href="/">Back to home</a>
                        </div>
                    </div>
                </form>
   </div> 
</body>
</html>
