<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                    第三地区中高生会 交通費管理 
         </a>
        </nav>
	<div class="container">
		<div class="row pt-5">
			<div class="col">
    				<h3>以下の内容で登録しました</h3>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col">
				{{ if .fee }}
    				<ul class="list-group">
    				    <li class="list-group-item">氏名: {{ .name }}</li>
    				    <li class="list-group-item">交通費: {{ .fee }}</li>
    				    <li class="list-group-item">対象日付: {{ .date }}</li>
    				</ul>
    				{{ else }}
    				氏名：{{ .name }}
    				{{ end }}
			</div>
		</div>
		<div class="row justify-content-center pt-5">
    			<div class="col-auto">
				<a href="/" class="btn btn-outline-primary">Back to home</a>
    			</div>
		</div>
	</div>
</body>
</html>
